---
import profil from "../assets/photo_profile.jpg";
import sydev from "../assets/logo_sydev.png";
import fm from "../assets/Fleury Michon Logo.png";
---

<div
  id="container"
  class="min-h-screen bg-gradient-to-br from-blue-50 to-blue-100 p-8 lg:w-8/12 w-full"
>
  <div class="max-w-4xl mx-auto">
    <!-- Section "Qui je suis" -->
    <div class="mb-12 p-6 bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-evenly">
        <h2 class="text-3xl font-bold text-blue-600 mb-4 flex items-center">
          👋 Qui je suis
        </h2>
        <img
          width="100px"
          class="rounded-full md:hidden block ml-4"
          src={profil.src}
          alt="mon profil"
        />
      </div>
      <div class="flex items-center">
        <div class="w-8/10">
          <p class="text-gray-700 text-lg mb-4">
            Je m'appelle <span class="font-semibold text-blue-600"
              >Johan Vadenne</span
            > et je suis un véritable passionné d'informatique. Que ce soit la programmation,
            la cybersécurité, la data, ou bien d'autres domaines, j'aime en apprendre
            toujours plus.
          </p>
          <p class="text-gray-700 text-lg">
            Ma spécialité, c'est le développement <span
              class="font-semibold text-blue-600">fullstack</span
            >, même si je suis team <span class="font-semibold text-blue-600"
              >back-end</span
            > ! 🖥️
          </p>
        </div>
        <img
          width="150px"
          class="rounded-full md:block hidden"
          src={profil.src}
          alt="mon profil"
        />
      </div>
    </div>

    <!-- Section "Parcours étudiant" -->
    <div class="mb-12 p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-3xl font-bold text-blue-600 mb-4 flex items-center">
        🎓 Parcours étudiant
      </h2>
      <ul class="list-disc list-inside text-gray-700 text-lg space-y-2">
        <li>BAC SN RISC</li>
        <li>BTS SIO SLAM</li>
        <li>BAC+4 Concepteur Développeur d'Applications</li>
      </ul>
    </div>

    <!-- Section "Parcours professionnel" -->
    <div class="mb-12 p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-3xl font-bold text-blue-600 mb-4 flex items-center">
        💼 Parcours professionnel
      </h2>

      <!-- Expérience SYDEV -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-blue-500 mb-2">
          SYDEV (Syndicat Départemental d'Énergie et d'équipement de Vendée)
        </h3>
        <div class="flex items-center">
          <div class="w-8/10">
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Poste:</span> Apprenti développeur
            </p>
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Durée:</span> 2 ans
            </p>
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Technologies:</span> WinDev, SQLServer,
              C#, Visual Studio
            </p>
          </div>
          <div>
            <a href="https://www.sydev-vendee.fr/" target="_blank" rel="noopener noreferrer">
              <img
                width="150px"
                class="rounded-full"
                src={sydev.src}
                alt="Logo SYDEV"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- Expérience Fleury Michon -->
      <div>
        <h3 class="text-2xl font-semibold text-blue-500 mb-2">Fleury Michon</h3>
        <div class="flex items-center">
          <div class="w-8/10">
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Poste:</span> Apprenti développeur
            </p>
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Durée:</span> 2 ans
            </p>
            <p class="text-gray-700 text-lg">
              <span class="font-semibold">Technologies:</span> Oracle, SQLServer,
              Informatica, Snowflake, Visual Studio, Power BI
            </p>
          </div>
          <div>
            <a href="https://www.fleurymichon.fr/" target="_blank" rel="noopener noreferrer">
            <img
              width="150px"
              src={fm.src}
              alt="logo Fleury Michon"
            />
          </a>
          </div>
        </div>
      </div>
    </div>

      <!-- Section "Pourquoi un Lapin" -->
      <div class="mb-12 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-3xl font-bold text-blue-600 mb-4 flex items-center">
          🐰 Pourquoi un Lapin ?
        </h2>
        <p class="text-gray-700 text-lg mb-4">
          Vous me verrez souvent avec un profil de lapin avec le surnom <span
            class="font-semibold text-blue-600">"Jojo Lapin"</span
          >.
        </p>
        <p class="text-gray-700 text-lg">
          Et bien, cela est un surnom que l'on m'a donné et que j'ai gardé. J'ai
          trouvé que le lapin s'accordait bien avec le profil de développeur.
          🐇💻
        </p>
      </div>
    </div>
  </div>
</div>
