<div class="min-h-screen bg-gradient-to-br from-blue-50 to-blue-100 lg:p-8 md:p-4 md:w-2/12 w-0 flex justify-center">
    <div class="flex justify-around flex-wrap w-full">
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="html5 logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="css3 logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="typescript logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="javascript logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" alt="vuejs logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="nodejs logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-original.svg" alt="rust logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="c logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="csharp logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="cplusplus logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" alt="bash logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/selenium/selenium-original.svg" alt="selenium logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="python logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" alt="ruby logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg"alt="rails logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="java logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="spring logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/elm/elm-original.svg" alt="elm logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/haxe/haxe-original.svg" alt="haxe logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/electron/electron-original.svg" alt="electron logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="docker logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/debian/debian-original.svg" alt="debian logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/raspberrypi/raspberrypi-original.svg" alt="raspberrypi logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/markdown/markdown-original.svg" alt="markdown logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ssh/ssh-original.svg" alt="ssh logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" alt="nginx logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="mysql logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="postgresql logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" alt="sqlite logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="git logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="github logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="linux logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firefox/firefox-original.svg" alt="firefox logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/windows8/windows8-original.svg" alt="windows8 logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg" alt="visualstudio logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="vscode logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/godot/godot-original.svg" alt="godot logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" alt="unity logo"  />
        <img class="xl:w-1/3 w-1/2" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/blender/blender-original.svg" alt="blender logo"  />
    </div>
</div>