---
import Navbar from "../components/Navbar.astro";
import Skill from "../components/Skill.astro";
import Head from "../components/Head.astro";
import "../styles/input.css";

const title = Astro.props.title;
---

<!doctype html>
<html lang="en">
    <Head />
    <body class="h-screen">
        <!-- Barre de navigation à gauche -->
        <Navbar title={title} />
		<main class="flex w-full">
            <div class="w-2/12"></div>
			<slot />
            <Skill />
		</main>
        
    </body>
</html>